.top {
  margin-bottom: 3rem;
  margin-top: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    font-weight: 500;

    h2 {
      font-size: 3rem;
      font-weight: inherit;
    }
  }
}

.bottom {
  border-top: 2px solid #dadada;
  padding-top: 4rem;
  padding-bottom: 2rem;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  .flex {
    display: flex;
    gap: 1rem;
  }

  address {
    text-align: right;
  }
}